.featured {
    height: 100vh;
}



.featured--watchbutton,
.featured--mylistbutton {
display: inline-block;
font-size: 20px;
font-weight: bold;
padding: 15px 20px;
border-radius:5px;
text-decoration: none;
margin-right: 10px;
opacity: 1;
transition: all ease 0.2s ;
}
.featured--mylistbutton:hover,
.featured--watchbutton:hover {
    opacity: 0.7;
}

.featured--watchbutton {
   background-color: #fff;
   color: #000 
}

.featured--mylistbutton {
background-color: #333;
color: #fff;

}



